<h1>
	<a href="." title="Lab Home">CSS@CS Lab</a>
</h1>
<ul class="nav">
  <li><a class="home" href="index.html">Home</a></li>
  <li><a class="pubs" href="proj.html">Projects and Papers</a></li>
  <li><a class="ppl" href="people.html">People</a></li>
  <li><a class="news" href="news.html">News</a></li>
</ul>
